<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900'
        rel='stylesheet' type='text/css'>
</head>

<body style="margin: 0;padding: 14px;font-size: 16px;font-family: Roboto;">
    <div style="height: 40px;background-image: linear-gradient(to left, #03a9f4, #26c6da);position: relative;margin-bottom: 17px;">
        <img style="height: 30px; width: 50px; margin-left: 8px; margin-top: 8px; float: left; background-repeat: round;"
            class="img-right" src="http://35.185.47.170:3300/uploads/images/saferi.png" />
        <img style="height: 24px; width: 24px; float: right; margin-right: 12px; margin-top: 7px; background-repeat: round;"
            class="img-left" src="http://35.185.47.170:3300/uploads/images/saferi.png" />
    </div>

    <div class="template-body">
        <div class="text-title label-text" style="width: 100%; color: #252525; text-align: left; font-weight: bold; margin: 18px 0; font-size: 24px; text-align: center;">Sarepi
            SYSTEM</div>
        <div class="text-title" style="width: 100%; color: #252525; text-align: left; font-weight: bold; margin: 18px 0; font-size: 24px; text-align: center">NEW
            BOOKING</div>
        <div class="notify-text" style="color: red; font-style: italic; text-align: left; display: flex; margin: 4px 0;"><span
                style="color: #898989; font-style: normal; margin-right: 8px; flex-wrap: wrap;">Booking email</span>
            <div class="normal-text" style="color: #252525; font-weight: bold; font-style: normal;">{{customer_email}}</div>
        </div>
        <table class="table-template" style="border-spacing: 10px; width: 100%;background-color: #ebebeb;">
            <tbody>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Booking
                        Code</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{booking_code}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Home
                        Name</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{home_name}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Home
                        Address</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{home_address}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Room
                        Type</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{room_type}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Room
                        Name</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{room_name}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Customer</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{customer_email}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Guests</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{guests}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Check-in
                        date</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{checkin}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Check-out
                        date</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{checkout}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Total</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{total}}</td>
                </tr>
                <tr>
                    <td class="info-title" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">Pre
                        Pay</td>
                    <td class="info-content" style="border-bottom: 1px solid #dddddd; text-align: left; padding: 8px;">{{pre_pay}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <hr style="border: 0.5px dotted black; padding: 0px; margin: 25px auto 25px;">

    <div style="width: 90%; height: auto; margin: 0 auto">
        <span style="font-weight: bold; color: black; font-size: 20px">
            Thank you for using our service.
        </span>
    </div>

    <div id="signature" style="background-color: #16b8e7; width: 100%; margin-top: 100px;">
        <div style="height: 60px; width: 100%;">
            <img style="height: 40px;margin: 10px;float: left;" src="http://35.185.47.170:3300/uploads/images/saferi.png" />
            <div style="font-size: 20px;line-height: 60px;font-weight: bold;float: left;color: #fff;padding-left: 10px;">SAREPI</div>
        </div>

        <div style="color: #ffffff;font-size: 13px;word-break: break-word;padding-left: 10px; margin-bottom: 10px;">
            <div>Hotline : +84 99 999 9999</div>
            <div>Email : booking@sarepi.com</div>
            <div>Web : http://sarepi.com</div>
            <div>Addr : Sarepi company, Ha Noi, Viet Nam</div>
        </div>
        <div style="text-align: center;">
            <a style="height: 24px;width: 24px;text-decoration: none;" href="" target="_blank">
                <img style="height: 24px; width: 24px;" src="http://asiopay.com/wp-content/uploads/2018/09/Path-215.png"
                    alt="asio facebook contact" />
            </a>

            <a style="height: 24px;width: 24px;text-decoration: none;" href="" target="_blank">
                <img style="height: 24px; width: 24px;" src="http://asiopay.com/wp-content/uploads/2018/09/Group-158.png" />
            </a>

            <a style="height: 24px;width: 24px;text-decoration: none;" href="" target="_blank">
                <img style="height: 24px; width: 24px;" src="http://asiopay.com/wp-content/uploads/2018/09/Path-217.png" />
            </a>

            <a style="height: 24px;width: 24px;text-decoration: none;" href="" target="_blank">
                <img style="height: 24px; width: 24px;" src="http://asiopay.com/wp-content/uploads/2018/09/Group-159.png" />
            </a>

            <a style="height: 24px;width: 24px;text-decoration: none;" href="" target="_blank">
                <img style="height: 24px; width: 24px;" src="http://asiopay.com/wp-content/uploads/2018/09/Path-216.png" />
            </a>
        </div>
    </div>
</body>

</html>